go 1.22.5

use (
	./contrib
	./example/ex-01-rpc
	./example/ex-02-rest
	./example/ex-03-cluster
	./example/ex-04-stubgen
	./example/ex-05-counter
	./example/ex-06-counter-stream
	./example/ex-08-echo
	./example/ex-09-mw
	./example/ex-10-async
	./iq
	./flow
	./kit
	./rony
	./ronyup
	./std/clusters/p2pcluster
	./std/clusters/rediscluster
	./std/gateways/fasthttp
	./std/gateways/fastws
	./std/gateways/silverhttp
	./stub
	./testenv
)
