package {{.Pkg}}

import (

)

{{$serviceName := .Name}}
type {{$serviceName}}Stub struct {
    hostPort string
    secure bool
    verifyTLS bool
}

func New{{$serviceName}}Stub() *{{$serviceName}}Stub {
    s := &{{$serviceName}}Stub{}

    return s
}

{{ range .RESTs }}
{{$methodName := .Name}}
func (s {{$serviceName}}Stub) {{$methodName}}(req *{{.Request}}) {

}
{{ end }}
