package app

import (
	"go.uber.org/fx"
	"{{.RonyKitPath}}/log"
)

type NewAppParams struct {
	fx.In

	Logger *log.Logger
}

func New(p NewAppParams) (*App, error) {
	app := &App{
		l: p.Logger.With("APP"),
	}

	return app, nil
}

type App struct {
	l *log.Logger
}
