package dto

type CountRequest struct {
    Action string `json:"action" swag:"enum:up,down"`
    Qty    int    `json:"qty"`
}

type CountResetRequest struct{}

type CountResponse struct {
    Count int `json:"count"`
    Level int `json:"level"`
}


