package {{.PackageName}}mod

import (
	"go.uber.org/fx"
	"{{.RepositoryPath}}/{{.PackagePath}}/api"
	"{{.RepositoryPath}}/{{.PackagePath}}/internal/app"
	"{{.RepositoryPath}}/{{.PackagePath}}/internal/settings"
)

//nolint:gochecknoglobals
var appModule = fx.Module(
	settings.ModuleName,
	fx.Provide(
		settings.New,
		app.New,
		api.New,
	),
)

func LoadSettings(filename string, searchPaths ...string) {
	settings.ConfigName = filename
	settings.ConfigPaths = searchPaths
}
