name: Go

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    name: Set up Go ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Run Tests
        run: |
          go test -v -cover -covermode=atomic -coverprofile=coverage.out -count=1 \
            ./kit/... \
            ./rony/... \
            ./stub/... \
            ./std/gateways/fasthttp/...

      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.out
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

