package main

import "{{.RepositoryPath}}/pkg/runner"

func main() {
	runner.Execute(runner.Config{
		ApplicationName: "{{.ApplicationName}}",
		DisplayName:     "{{.ApplicationName}} ({{.BundleName}})",
		PackageName:     "{{.PackageName}}",
	})
}
